
footer
{
    background-color: #839BB9;
    display :flex;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    right: 0;
    padding:0;
    margin:0;
    color: white;
    font-family: Verdana;
}

footer p, footer ul
{
    font-size :0,7em;
}

footer h2
{
    font-size:1.1em;
}

#contact
{


    flex-direction: column;

}

#menuenbas
{

    flex-direction: column;
    text-align: center;
}

#menuenbas a
{
    text-decoration: none;
    color: white;

}
#menuenbas ul
{
    list-style-type: none;
}
#menuenbas :hover
{
    color: black;
}

#logofooter img
{
    text-align: center;
    margin-top: 40px;


}
.mail
{
    color: white;
    text-decoration: underline;
}
.mail:hover
{
    color: black;
}

.Mentions
{
    font-size: 0.6em;
}


