
#sinscrire
{

    font-weight: bold;
    font-size: 1em;
    position: fixed;
    right: 44.5%;
    bottom: 20%;
    background-color: #839BB9;
    border: #839BB9;
    border-radius: 1em;
    color: white;


}
#sinscrire:hover
{

    background-color: #636A85;

}
#prenom
{

    position: fixed;
    height: 5%;
    width: 20%;
    bottom: 55%;
    right: 37.5%;
    font-size: 1em;

}
#nom
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 48%;
    font-size: 1em;

}

#email
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 41%;
    font-size: 1em;

}

#mdp
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 34%;
    font-size: 1em;

}

#codepilote
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 27%;
    font-size: 1em;

}

#titreinscription
{

    color: white;
    font-family: "Gill Sans";
    font-size: 1.2em;
    position: fixed;
    bottom: 60%;
    right: 43.5%;


}


