
#sinscrire
{

    font-weight: bold;
    font-size: 2em;
    position: fixed;
    right: 43.5%;
    bottom: 25%;
    background-color: #839BB9;
    border: #839BB9;
    border-radius: 1em;
    color: white;


}
#sinscrire:hover
{

    background-color: #636A85;

}
#prenom
{

    position: fixed;
    height: 5%;
    width: 20%;
    bottom: 65%;
    right: 37.5%;
    font-size: 1em;

}
#nom
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 58%;
    font-size: 1em;

}
#identifiant
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 51%;
    font-size: 1em;

}
#email
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 44%;
    font-size: 1em;

}

#mdp
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 37%;
    font-size: 1em;

}

#codepilote
{

    position: fixed;
    height: 5%;
    width: 20%;
    right: 37.5%;
    bottom: 30%;
    font-size: 1em;

}

.titreinscription
{

    color: white;
    font-family: "Gill Sans";
    font-size: 1.2em;
    position: fixed;
    top: 25%;
    right: 43.5%;


}


