table {
    border: thin solid grey;
    width: 50%;
    position: absolute;
    bottom: 30%;
    right: 24%;
    background-color: #DCDCDC;
    height: 30%;
    font-family: "Gill Sans";
}
td, th {
    border: thin solid black;
    width: 40%;
    background-color: #DCDCDC;
    text-align: center;
}
#apropos
{

    color: white;

    font-family: gill sans;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.6em;
    position: absolute;
    right: 46%;
    bottom: 70%;

}
#barre
{

    height: 4px;
    width: 16%;
    background-color: white;
    position: absolute;
    right: 41%;
    bottom: 65%;
}
#total
{
    background-color: red;

}